/* ---------- CSS Variables -------------*/

$primary-bg: rgb(202, 155, 94);
$secondary-bg: rgb(148, 107, 54);
$font-color: rgb(255, 255, 255);

/* ------------ Resets --------------*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Open Sans;
  width: 100%;
  height: 100%;
}

h2,
h3 {
  text-align: center;
  padding: 1em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
  text-decoration: underline;
}

p {
  text-align: center;
}

/* ------------ Layout --------------*/

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1.2fr 1.5fr;
  grid-template-rows: auto 1.3fr 1.3fr auto 0.5fr auto;
  grid-template-areas:
    "header header header"
    "om-oss om-oss om-oss"
    "meny meny meny"
    "hitta-hit hitta-hit hitta-hit"
    "kontakta-oss kontakta-oss kontakta-oss"
    "footer footer footer";
}

#header {
  grid-area: header;
}

#om-oss {
  grid-area: om-oss;
}

#hitta-hit {
  grid-area: hitta-hit;
}

#kontakta-oss {
  grid-area: kontakta-oss;
}

#meny {
  grid-area: meny;
}

.footer {
  grid-area: footer;
}

/* ------------------- Header & Footer Styles ------------------*/

#header,
.footer {
  background-color: $secondary-bg;
}

.logo {
  display: flex;
  justify-content: center;
  font-family: Lobster, sans-serif;
  padding: 20px;
  color: $font-color;
  font-size: 3em;
}

.footer-logo {
  display: flex;
  justify-content: center;
  padding-right: 1em;
  font-family: Lobster, sans-serif;
  color: $font-color;
  font-size: 2.5em;
}

.copy {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: $font-color;
  padding: 1em;
  background-color: $primary-bg;
  width: 100%;
}

.navigation {
  display: flex;
  background-color: $primary-bg;

  .menu-bar {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  li {
    text-align: center;
    list-style-type: none;
  }

  a {
    display: block;
    padding: 1em;
    color: $font-color;
    text-transform: uppercase;
    text-decoration: none;
  }

  li:hover {
    transition: background-color 2s ease;
    background-color: $secondary-bg;
  }

  li:active,
  a:active {
    background-color: $secondary-bg;
  }
}

/* -------------------- Om Oss Styles -------------------- */

#om-oss {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(
      to bottom,
      rgba(245, 246, 252, 0.4),
      rgba(32, 26, 13, 0.3)
    ),
    url("img/snapbythree-my-g6e641CiHFQ-unsplash.jpg");
  background-position: center;
  background-size: cover;
  padding: 4em;

  h2 {
    color: $font-color;
    text-transform: uppercase;
  }

  p {
    margin: 1em;
    color: $font-color;
    text-shadow: 1px 1px #9c9c9c;
    line-height: 1.5;
  }

  .youtube-video {
    width: 100%;
  }
}

/*--------------------- Meny Styles --------------------- */

#meny {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("img/ali-yahya-LuH_2QlfJ5s-unsplash.jpg");
  background-position: center;
  background-size: cover;
  color: $font-color;
  text-transform: uppercase;
}

.kaffe-sorter,
.catering,
.drycker {
  text-align: center;
  padding: 1em;
  font-size: 1em;
}

.pdf-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.pdf-container > .pdf-fil {
  width: 100%;
  margin: 2em;
}

.utskrift {
  margin-top: 1.5em;
  text-align: center;
  text-decoration: underline;
}

ul li {
  list-style-type: none;
}

/* -------------------- Hitta hit Styles -------------------- */

#hitta-hit {
  background: url(img/dagmara-rusmane-a9MVUis657g-unsplash.jpg);
  background-position: center;
  background-size: cover;
}

#hitta {
  color: $font-color;
  text-transform: uppercase;
  margin: 2em;
}

.map {
  display: flex;
  width: 100%;
}

.youtube-video {
  margin-top: 1.5em;
}

/*--------------------- Kontakta oss Styles --------------------- */

#kontakta-oss {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: $font-color;
  background-color: $primary-bg;
}

.nummer,
.epost {
  text-align: center;
  display: block;
  color: $font-color;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }

  #kontakta {
    text-transform: uppercase;
  }

  /*--------------------- Media Query(s) --------------------- */

  @media all and (min-width: 1000px) {
    .navigation > .menu-bar {
      flex-direction: row;
      justify-content: center;
    }

    .footer > .navigation > .menu-bar {
      display: none;
    }

    .grid-container {
      display: grid;
      grid-template-columns: 1fr 1.2fr 1.5fr;
      grid-template-rows: auto auto auto auto;
      grid-template-areas:
        "header header header"
        "om-oss om-oss meny"
        "kontakta-oss hitta-hit meny"
        "footer footer footer";
    }

    #om-oss > h2 {
      text-align: left;
    }

    .navigation > .menu-bar > li {
      width: 100%;
    }

    .kaffe-sorter,
    .catering,
    .drycker,
    .pdf-fil {
      font-size: 1.4em;
    }

    #om-oss > article > p {
      text-align: left;
    }
  }
